<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kalda</title>
  <%# Social media sharing tags %>
  <meta property="og:image" content="<%= KaldaWeb.Endpoint.url() %>/images/og-logo-fb.png">
  <meta name="twitter:card" content="summary_large_image">
  <meta property="og:site_name" content="Kalda">
  <meta name="twitter:image:alt" content="Kalda logo text in hot pink on purple, with a pink rainbow">
  <%# Favicons %>
  <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
  <link rel="manifest" href="/images/favicon/site.webmanifest">
  <link rel="mask-icon" href="/images/favicon/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  <%# Google fonts %>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
  <%# Plausible Tracking %>
  <script async defer data-domain="kalda.co" src="https://plausible.io/js/plausible.js"></script>
  <script>window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) }</script>
</head>
<body>
<script>
window.csrfToken = "<%= Plug.CSRFProtection.get_csrf_token() %>";
</script>
  <%# HACK: We shouldn't need to set this here %>
  <script>window.HMR_WEBSOCKET_PORT = 4452</script>
  <link rel="stylesheet" href="<%= spa_static_path("/spa.css") %>" />
  <%= if Application.get_env(:kalda, :load_spa_css) do %>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/src/index.css") %>" />
  <% end %>
  <script type="module" src="<%= spa_static_path("/src/index.js") %>"></script>
  <noscript>Please enable JavaScript to view this page.</noscript>
</body>
</html>
