<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kalda</title>
</head>
<body>
<script>
window.csrfToken = "<%= Plug.CSRFProtection.get_csrf_token() %>";
</script>
  <%# HACK: We shouldn't need to set this here %>
  <script>window.HMR_WEBSOCKET_PORT = 4452</script>
  <link rel="stylesheet" href="<%= spa_static_path("/spa.css") %>" />
  <%= if Application.get_env(:kalda, :load_spa_css) do %>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/src/index.css") %>" />
  <% end %>
  <script type="module" src="<%= spa_static_path("/src/index.js") %>"></script>
  <noscript>Please enable JavaScript to view this page.</noscript>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
  <script async defer data-domain="kalda.co" src="https://plausible.io/js/plausible.js"></script>
  <script>window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) }</script>
</body>
</html>
