<div class="landing-slice">
  <div class="container">
    <h2 class="text-center">
      Thank you. Your on our list!
    </h2>
    <p>
      We are so excited to have you join us. You'll get an email which explains about the waiting list for the app, and we will be sure to tell you the latest news about when you can get on board.
    </p>
      We will never sell your data. Ever.
    <p>
    </p>
  </div>
</div>
