<%# edit %>
<h1>Edit Post</h1>

<%= render "post_form.html", Map.put(assigns, :action, Routes.admin_post_path(@conn, :post_update, @post)) %>

<span><%= link "Back", to: Routes.admin_post_path(@conn, :post_index) %></span>
