<h1>Show Post</h1>

<ul>

  <li>
    <strong>Content:</strong>
    <%= @post.content %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.admin_post_path(@conn, :edit, @post) %></span>
<span><%= link "Back", to: Routes.admin_post_path(@conn, :index, @forum) %></span>
