<h1>Show Daily Reflection</h1>

<ul>

  <li>
    <strong>Content:</strong>
    <%= @daily_reflection.content %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.admin_daily_reflection_path(@conn, :edit, @daily_reflection) %></span>
<span><%= link "Back", to: Routes.admin_daily_reflection_path(@conn, :index) %></span>
