<section class="container">
  <nav role="navigation">
    <ul>
      <li><a href="TODO">Get Started</a></li>
      <li><a hfref="/">Privacy Policy</a></li>
    </ul>
    <%= render "_user_menu.html" , assigns %>
  </nav>
  <a href="/" class="header-logo">
    <img src="<%= Routes.static_path(@conn, "/images/kalda-logo.svg") %>" alt="Kalda logo coloured neon pink"/>
  </a>
</section>
