<header class='site-page-header'>
  <a href="/"><img  class='site-page-logo' src="/images/kalda-logo.svg"></a>
  <div class="site-page-header-spacer"></div>
  <nav class="site-page-header-links">
    <a class="gradient button" href="/dashboard">App</a>
    <%= if @current_user && @current_user.is_admin do %>
      <a class="gradient button" href="/admin">Admin</a>
    <% end %>
    <a class="gradient button" name="contact" href="mailto:hello@kalda.co">Contact Us</a>
  </nav>
</header>
