<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Kalda"%>
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
  </head>
  <body>
    <%= render "_site_page_header.html", assigns %>
    <%= @inner_content %>
    <footer class="site-footer">
      <div class="site-footer-content container">
        <ul class="site-footer-column">
          <li><ul class="site-footer-social-icons">
              <li><a href="todo"><img src="todo" alt="Instagram"></a>
              <li><a href="todo"><img src="todo" alt="Facebook"></a>
              <li><a href="todo"><img src="mailto:hello@kalda.co" alt="Email"></a>
            </ul>
          <li><a href="todo">Privacy policy</a>
          <li><a href="todo">Terms of use</a>
        </ul>
        <ul class="site-footer-column">
          <li>Supported by <a target="_blank" href="https://www.antler.co/">Antler</a>
        </ul>
      </div>
    </footer>
  </body>
</html>
