<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Kalda"%>
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
    <script async defer data-domain="kalda.co" src="https://plausible.io/js/plausible.js"></script>
    <script>window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) }</script>
  </head>
  <body>
    <div class="wrapper">
      <%= render "_site_page_header.html", assigns %>
      <%= @inner_content %>
      <div class="push-down-footer"></div>
    </div>
    <footer class="site-footer">
      <div class="site-footer-content container">
        <ul class="site-footer-column">
          <li><ul class="site-footer-social-icons">
              <li><a target="_blank" href="https://www.instagram.com/kaldahealth/"><img src="images/icons/instagram-icon.svg" alt="Instagram" class="insta-icon"></a>
              <li><a target="_blank" href="https://www.facebook.com/groups/kalda"><img src="images/icons/facebook-icon.svg" alt="Facebook" class="facebook-icon"></a>
              <li><a href="mailto:hello@kalda.co"><img src="images/icons/mail-icon.svg" alt="Email" class="mail-icon"></a>
            </ul>
          <li><a href="/privacy-policy">Privacy policy</a>
          <li><a href="/terms">Terms of use</a>
        </ul>
        <ul class="site-footer-column">
          <li>Supported by <a target="_blank" href="https://www.antler.co/">Antler</a>
        </ul>
      </div>
    </footer>
  </body>
</html>
