:root {
  --color-purple-light: #cdbdff;
  --color-purple-mid: #574981;
  --color-purple: #4a00b0;
  --color-black: #333;
  --color-grey: #eee;
  --color-white: #fff;
  --font-color-dark: #404040;
  --color-pink: #fe00f7;
  --color-pink-light: #ffb3fc;

  /* Sizes */
  --gap: 16px;
  --gap-xs: calc(var(--gap-s) * 0.25);
  --gap-s: calc(var(--gap) * 0.5); /* 8px */
  --gap-m: calc(var(--gap) * 1.5); /* 24px */
  --gap-l: calc(var(--gap) * 2); /* 32 px */
  --gap-xl: calc(var(--gap) * 3); /* 48 px */
  --gap-xxl: calc(var(--gap) * 4); /* 64 px */
  --gap-xxxl: calc(var(--gap) * 5); /* 80 px */

  /* FONT WEIGHT */
  --font-weight: 500; /* poppins semibold == weight 600 */
  --font-weight-large: 600;
  /* FONT SIZE */
  --font-size: 16px; /* small = 14 points */
  --font-size-s: 0.875rem; /* large = 18 points, for l and H2 mobile */
  --font-size-l: 1.125rem; /* xl = 24 points, for H2 desktop, h1 mobile */
  --font-size-xl: 1.5rem; /* xxl = 32 points, h1 desktop */
  --font-size-xxl: 2rem; /* xxxl = 40 points, same as xl-blog-header */
  --font-size-xxxl: 2.5rem;

  --button-padding: 10px 22px;

  --font-size: 14px;
  --font-size-s: 12px;
  --font-family: poppins-semibold, poppins, sans-serif;

  --full-width: 642px;
}

* {
  box-sizing: border-box;
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  color: var(--color-black);
}

html {
  overflow-y: scroll;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
  font-size: var(--font-size);
}

button,
a {
  color: var(--color-purple);
  text-decoration: none;
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  display: inline;
}

.button {
  background-color: var(--color-purple);
  color: var(--color-white);
  border: none;
  padding: var(--gap-s) var(--gap);
  font-weight: 500;
  border-radius: 100px;
}

textarea {
  font-family: var(--font-family);
}

h1 {
  font-size: 24px;
}
h2 {
  font-size: 18px;
}

.content {
  width: 100%;
  max-width: var(--full-width);
  padding-left: var(--gap);
  padding-right: var(--gap);
  margin-left: auto;
  margin-right: auto;
}

.button-link {
  border: unset;
  padding: unset;
  font-weight: unset;
}

.pointer {
  cursor: pointer;
}

p {
  margin: var(--gap) 0;
}
