.top-image-container {
  /* max-width: 900px; */
  height: 400px;
  background-size: cover;
  background-position: center;
  /* min-height: 330px; */
}

.blog-container {
  /* padding-left: var(--gap-xxxl);
  padding-right: var(--gap-xxxl); */
  width: 624px;
  margin: auto;
}

.blog-details-container {
  display: flex;
  justify-content: center;
}

.blog-details {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.blog-title {
  font-size: var(--font-size-xxxl);
  line-height: var(--line-height-xxl);
  font-weight: var(--font-weight-large);
  color: var(--color-purple);
  padding-top: var(--gap-xxl);
}

.blog-details {
  font-size: 14px;
  line-height: 24px;
  color: #4a00b0;
  padding-bottom: var(--gap-xxl);
}

ul.blog-tag-list,
li.blog-tag-list {
  display: none;
}

h1 {
  font-size: var(--font-size-xl);
  line-height: var(--line-height-l);
  font-weight: var(--font-weight-large);
  color: var(--color-purple);
}

h2 {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #404040;
}

h3 {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #4a00b0;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  /* quotes: initial; */
  quotes: "\201C""\201D""\201C""\201D";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #404040;
}

/* Index */
.blog-all {
  width: 85%;
  margin: auto;
}

.unfeatured-blog-all {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.featured-blog {
  display: flex;
  margin-top: var(--gap-l);
  margin-bottom: var(--gap);
}
.featured-blog-name {
  font-size: 24px;
  line-height: 32px;
  padding-left: var(--gap);
  display: flex;
  align-items: center;
}
.unfeatured-blog {
  display: flex;
  flex-direction: row;
  margin-top: var(--gap-l);
  margin-bottom: var(--gap);
}

.featured-blog-image {
  /* max-width: 900px; */
  width: 50%;
  height: 240px;

  background-size: cover;
  background-position: center;
  /* min-height: 330px; */
}

.unfeatured-blog-image {
  max-height: 184px;
  max-width: 264px;

  background-size: cover;
  background-position: center;
  /* min-height: 330px; */
}
.blog-hero {
  height: 25%;
  background-color: var(--color-purple);
}

.blog-hero img {
  margin: auto;
  display: block;
  padding-bottom: var(--gap-xxxl);
  padding-top: var(--gap-xl);
}
