.top-image-container {
  /* max-width: 900px; */
  height: 400px;
  background-size: cover;
  background-position: center;
  /* min-height: 330px; */
}

.blog-container {
  /* padding-left: var(--gap-xxxl);
  padding-right: var(--gap-xxxl); */
  padding-top: var(--gap-xxl);
  width: 624px;
  margin: auto;
}

.blog-details-container {
  display: flex;
  justify-content: center;
}

.blog-details {
  display: flex;
  justify-content: space-between;
}

.blog-title {
  font-size: var(--font-size-xxxl);
  line-height: var(--line-height-xxl);
  font-weight: var(--font-weight-large);
  color: var(--color-purple);
}

ul.blog-tag-list,
li.blog-tag-list {
  display: none;
}
