/* TODO: smaller font size on mobile */

:root {
  /* Colours */
  --color-purple: #2d1c62;
  /* --color-dark: #424040;
  --color-light: #ffffff; */
  --color-white: #ffffff;
  --color-pink: #fe00f7;
  --color-pink-light: #ffb3fc;
  --color-blue: #c7ffff;
  --font-color: var(--color-purple);
  /* --color-black: #373b40; */
  /* // Timings */
  /* --hover-transition-time: 0.1s;
  --two-times-hover-transition-time: 0.2s; */
  /* // Sizes */
  /* --sidebar-width: 240px;
  --sidebar-height: 80px;
  --page-padding: 0.875rem;
  --line-padding: 0.625rem; */
  --button-padding: 10px 22px;

  --gap: 16px;
  --gap-l: calc(var(--gap) * 2);
  --gap-xl: calc(var(--gap) * 3);

  --font-size: 14px;
  --font-size-l: 1.25rem;
  --font-size-xl: 1.8rem;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  font-family: poppins-semibold, poppins, sans-serif;
}

body {
  font-weight: 500;
  margin: 0;
  text-decoration: none;
  color: #2d1c62;
  font-size: var(--font-size);
}

p {
  margin: var(--gap) 0;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

.logo-image img {
  width: 10rem;
}

.text-center {
  text-align: center;
}

.display-none {
  display: none;
}

.button,
.button-wide {
  background: linear-gradient(138.94deg, #C7FFFF 35.3%, #FFB3FC 84.65%);
  border: none;
  color: var(--font-color);
  border-radius: 300px;
  font-weight: 500;
  padding: var(--button-padding);
  text-decoration: none;
  white-space: nowrap;
  font-size: var(--font-size);
}

.button-wide {
  --side: 5rem;
  padding-left: var(--side);
  padding-right: var(--side);
}

.join-the-group {
  padding-top: var(--gap-l);
  text-align: center;
}

.landing-hero {
  background-color: var(--color-purple);
  color: white;
} 

.landing-hero input[type=text] {
  border-radius: 100px;
  border: none;
  padding: var(--button-padding);
}

.landing-slice {
  padding-top: var(--gap-xl);
  padding-bottom: var(--gap-xl);
}

.landing-slice h2 {
  font-size: var(--font-size-xl);
  margin: 0 0 var(--gap) 0;
}

.landing-slice figure {
  text-align: center;
  margin-top: var(--gap);
  margin-bottom: var(--gap);
}

.landing-slice blockquote {
  margin: 0;
  font-size: var(--font-size-l);
}

.tiles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style: none;
  margin: var(--gap-l) 0 0 calc(0px - var(--gap));
  padding: 0;
}

.tiles li {
  background-color: var(--color-pink-light);
  border-radius: var(--gap);
  padding: var(--gap);
  margin-left: var(--gap);
  margin-bottom: var(--gap);
  width: 230px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
} 

.tiles h3 {
  font-size: var(--font-size-l);
  margin: 0;
}

.background-blue {
  background-color: var(--color-blue)
}

.menu-container {
  width: 100%;
  display: flex;
  align-items: flex-end;
  vertical-align: baseline;
  justify-content: space-between;
}

.logo-container {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}

.menu-rhs-links {
  display: flex;
  justify-content: flex-end;
}

.container {
  display: block;
  max-width: 100%;
  width: 750px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 13px;
  padding-right: 13px;
}

.full-page-width-container {
  display: flex;
  justify-content: center;
}

.landing-page-grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: center;
  flex-direction: row;
}

.landing-page-grid-item{
  width: 450px;
  max-width: 100%;
  min-width: 50%;
}

.grid-first-item {
  order: 0;
}
