/* TODO: smaller font size on mobile */

:root {
  /* Colours */
  --color-purple: #2d1c62;
  --color-light: #ffffff;
  --color-white: #ffffff;
  --color-pink: #fe00f7;
  --color-pink-light: #ffb3fc;
  --color-blue: #c7ffff;
  --font-color: var(--color-purple);
  /* Timings */
  /* Sizes */
  --button-padding: 10px 22px;

  --gap: 16px;
  --gap-s: calc(var(--gap) * 0.5);
  --gap-l: calc(var(--gap) * 2);
  --gap-xl: calc(var(--gap) * 3);
  --gap-xxl: calc(var(--gap) * 5);
  --gap-xxxl: calc(var(--gap) * 7);

  --font-size: 14px;
  --font-size-s: 0.8rem;
  --font-size-l: 1.1rem;
  --font-size-xl: 1.25rem;
  --font-size-xxl: 2.6rem;

  --font-weight: 500;
  --font-weight-large: 700;

  /* Screen size for media queries and break points */
  /* Note that screen sizes for media queries are standardised (see below) HOWEVER */
  /* Media queries don't accept css variables so they still need to be changes manually */
  --screen-small: 900px;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  font-family: poppins-semibold, poppins, sans-serif;
}

body {
  font-weight: var(--font-weight);
  margin: 0;
  text-decoration: none;
  color: #2d1c62;
  font-size: var(--font-size);

}

p {
  margin: var(--gap) 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

.text-center {
  text-align: center;
}

.display-none {
  display: none;
}

.button,
.button-wide {
  display: inline-block;
  background: linear-gradient(138.94deg, #c7ffff 35.3%, #ffb3fc 84.65%);
  border: none;
  color: var(--font-color);
  border-radius: 300px;
  font-weight: 500;
  padding: var(--button-padding);
  text-decoration: none;
  white-space: nowrap;
  font-size: var(--font-size);
}

.button-wide {
  --side: 5rem;
  padding-left: var(--side);
  padding-right: var(--side);
}

.join-the-group {
  padding-top: var(--gap-l);
  text-align: center;
}

.login-button {
  display: none   ;
}

.landing-hero {
  background-color: var(--color-purple);
  padding: var(--gap-l) 0;
  color: white;
  display: flex;
  align-items: center;
}

.landing-hero img {
  height: 438px;
}

.landing-hero h1 {
  margin-bottom: var(--gap-xl);
  font-size: var(--font-size-xxl);
}

.landing-hero h2 {
  font-size: var(--font-size-l);
}

.landing-hero p {
  font-size: var(--font-size-s);
}

.landing-hero .container {
  display: flex;
  align-items: center;
}

.landing-form {
  display: flex;
}

.landing-form input[type="email"] {
  margin-right: var(--gap-s);
  border-radius: 100px;
  border-width: thin;
  border-style: solid;
  border-color: var(--color-purple);
  padding: var(--button-padding);
  flex: 1;
  width: 100px;
}

.landing-slice {
  padding-top: var(--gap-xl);
  padding-bottom: var(--gap-xl);
}

.landing-slice h2 {
  font-size: var(--font-size-xxl);
  margin: 0 0 var(--gap) 0;
}

.landing-slice figure {
  text-align: center;
  margin-top: var(--gap);
  margin-bottom: var(--gap);
}

.landing-slice blockquote {
  margin: 0;
  font-size: var(--font-size-xl);
}

.tiles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style: none;
  margin: var(--gap-l) 0 0 calc(0px - var(--gap));
  padding: 0;
}

.tiles li {
  background-color: var(--color-pink-light);
  border-radius: var(--gap);
  padding: var(--gap);
  margin-left: var(--gap);
  margin-bottom: var(--gap);
  width: 230px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tiles h3 {
  font-size: var(--font-size-xl);
  margin: 0;
}

.background-blue {
  background-color: var(--color-blue);
}

.site-page-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--gap-s);
  flex-wrap: wrap;
}

.site-page-header > * {
  margin: var(--gap-s);
}

.site-page-logo {
  display: block;
  height: 42px;
  position: relative;
  top: -5px;
}

.site-page-header-spacer {
  flex-grow: 100;
}

.site-page-header-links {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.site-page-header-links > * {
  margin-left: var(--gap-s);
}

.container {
  display: block;
  max-width: 100%;
  width: 750px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 13px;
  padding-right: 13px;
}

.full-page-width-container {
  width: 100%;
}

.display-web-only {
  display: none;
}

/* Note that screen sizes for media queries are standardised (see variables)
Media queries don't accept css variables so they still need to be changes manually */
@media (min-width: 900px) {
  .display-web-only {
    display: block;
  }
}

.landing-page-grid {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
}

.landing-page-grid.wrap-reverse {
  flex-wrap: wrap-reverse;
}

.landing-page-grid > * {
  flex-basis: 400px;
  flex-grow: 1;
  max-width: 900px;
  height: 450px;
}

.landing-grid-img1,
.landing-grid-img2,
.landing-grid-img3 {
  background-size: cover;
  background-position: top;
  min-height: 330px;
}
.landing-grid-img1 {
  background-image: url("/images/betzy-arosemena-Mx15HMZGQzY-unsplash-crop.jpg");
}
.landing-grid-img2 {
  background-image: url("/images/madison-lavern-4gcqRf3-f2I-unsplash 1.png");
}
.landing-grid-img3 {
  background-image: url("/images/teddy-osterblom-owiVf9bFKHM-unsplash 1.png");
}

.landing-grid-text {
  padding: var(--gap-xxl);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.landing-grid-text > * {
  max-width: 400px;
}

.site-footer {
  color: var(--color-white);
  font-size: var(--font-size-l);
  background-color: var(--color-purple);
  padding: var(--gap-xxl) 0;
}

.site-footer-content {
  display: flex;
  flex-direction: row;
  margin-bottom: calc(var(--gap-l) * -1);
}

.site-footer-content > * {
  flex: 1;
}

.site-footer-column {
  display: flex;
  flex-direction: column;
  align-self: end;
  padding: 0;
}

.site-footer-column > li {
  margin-bottom: var(--gap-l);
}

.site-footer a {
  color: var(--color-white);
  text-decoration: underline;
}

.site-footer-social-icons {
  padding: 0;
  display: flex;
  flex-direction: row;
}

.site-footer-social-icons img {
  --size: 30px;
  height: var(--size);
  width: var(--size);
  display: inline-block;
  /* background-color: var(--color-white); */
  border-radius: 100px;
  margin-right: var(--gap-s);
}

/* Push footer to end of content */
html, body {
  height: 100%;
  margin: 0;
}
.wrapper {
  min-height: 100%;

  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin-bottom: -349px;
}
.footer,
.push-down-footer {
  height: 349px;
}
