.login-container {
  margin: auto;
  display: block;
  max-width: 536px;
  letter-spacing: -0.02rem;
}

.login-container input {
  margin-right: var(--gap-s);
  border-radius: 100px;
  border-width: 2px;
  border-style: solid;
  border-color: var(--color-purple);
  padding: var(--button-padding);
  flex: 1;
  width: 100%;
}

.login-container label {
  font-weight: var(--font-weight-large);
  font-size: var(--font-size-l);
}

a {
  font-weight: var(--font-weight-large);
}

.login-container form div.alert.alert-danger {
  padding: var(--gap);
}

.login-container form div.alert.alert-danger p {
  margin: 0px;
}

span.username {
  color: var(--font-color);
  font-style: italic;
  font-weight: var(--font-weight-large);
}

.login-container .landing-form input {
  border-width: 2px;
}

.checkbox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#box {
  padding: unset;
  width: unset;
  margin: unset;
  flex-basis: unset;
  flex-grow: unset;
  flex-shrink: unset;
  vertical-align: middle;
  margin-left: 8px;
}

input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  transform: scale(2);
  padding: 10px;
}

.box-label {
  margin-left: 8px;
  padding-left: 8px;
}
