
html {
  box-sizing: border-box;
}

body {
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: poppins-semibold, poppins, sans-serif;
  margin: 0;
}

header {
  background: #2d1c62;
}

.header-logo {
  max-height: 10rem;
}
