<%# TODO add pagination, here and in controller, and Accounts %>
<div class="admin-container">
<h1>Listing Users</h1>
<br />

<%= for user <- @users do %>
<p>Username</p>
<%= user.username %>
<p>Email</p>
<%= user.email %>
<%= if user.referred_by do %>
  <p>Referrerd by </p>
  <%= user.referral.referrer.email %>
<% end %>
<hr/>
<% end %>

</div>
